#
#Wed Mar 21 16:44:50 EET 2018
app.classes.path=target/classes/com/linkedin/replica/notifier
rabbitmq.queue.client=NOTIFICATIONS
app.controller.host=localhost
app.max_thread_count=20
rabbitmq.ip=192.168.43.169
app.max_db_connections_count=10
rabbitmq.queue.services=SEND_NOTIFICATION
app.controller.port=8080
rabbitmq.username=hatem
rabbitmq.password=hatem
cache.notifier.index=3
cache.notifier.size=10