#
#Wed Mar 21 13:59:19 EET 2018
app.classes.path=target/classes/com/linkedin/replica/notifier
app.controller.host=localhost
rabbitmq.queue.client=NOTIFICATIONS
app.max_thread_count=20
rabbitmq.ip=localhost
app.max_db_connections_count=10
app.controller.port=8080
rabbitmq.queue.services=SEND_NOTIFICATION
