notifications.all=GetAllNotificationsCommand
notifications.all.handler=ArangoNotificationsHandler

notifications.unread=GetUnreadNotificationsCommand
notifications.unread.handler=ArangoNotificationsHandler

notifications.mark.read=MarkNotificationsReadCommand
notifications.mark.read.handler=ArangoNotificationsHandler

notifications.send=SendNotificationCommand
notifications.send.handler=ArangoNotificationsHandler