#
#Thu Apr 19 22:29:46 EET 2018
notifications.mark.read.handler=ArangoNotificationsHandler
notifications.test=testCommand
notifications.all=GetAllNotificationsCommand
notifications.mark.read=MarkNotificationsReadCommand
notifications.test.handler=ArangoNotificationsHandler
notifications.unread=GetUnreadNotificationsCommand
notifications.send.handler=ArangoNotificationsHandler
notifications.send=SendNotificationCommand
notifications.all.handler=ArangoNotificationsHandler
notifications.unread.handler=ArangoNotificationsHandler
